/* ===================================
   Project: [Portfolio | Senna Klijn]
   "Portfolio"
   File: style.css
   Author: [Senna Klijn]
   Description: Main stylesheet
   =================================== */

 /* ==========================
         page styling
   ======================== */

/* variable styling */
      :root {
      /* colors */
         --color-bg: #e2dfd8; /* linear-gradient(90deg, #9100ff, #ff0000) */
         --color-title: #efefef;          /* c43cff */

         --color-text: #f2f2f2;
      /* div colors */
         --color-div0: #ccb9b9;
         --color-div1: #ff8b8b;
         --color-div2: #f9b26a;
         --color-div3: #8bd092;
         --color-div4: #71a4b8;
         --color-div5: #a379b5;

      /* fonts */
         --font-title: "Sekuya";
         --font-hdr: "Saira Stencil One";
         --font-body:  "Ubuntu";

      /* index layers */
         --index-bg: 2;     /* background */
         --index-mb: 4;     /* middle background */
         --index-mm: 6;     /* middle middle */
         --index-mf: 8;     /* middle front */
         --index-fr: 10;    /* front */

      /* shadow colors */
         --shadow-box: 5px 5px 3px rgba(0, 0, 0, 0.384);
         --shadow-text: 2px 2px 2px rgba(0, 0, 0, 0.384);
      }


/* reset */
      * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
      }

/* body styling */
      body {
      /* viewport */
         min-height: 100vh;
         width: 100vw;
         overflow-y: hidden;

         display: flex;
         /* flex-direction: column; */
         justify-content: center;
         align-items: center;


      /* background */
         background: var(--color-bg);

      /* text */
         font-family: var(--font-body);
         color: var(--color-text);
      }


/* scrolling */
      .scroll {
         display: flex;
         height: 100vh;
         width: 100vw;
         left: 50vw;
         transform: translateX(-50%);
      }

/* index layers */
      .bg {z-index: var(--index-bg);}
      .mb {z-index: var(--index-mb);}
      .mm {z-index: var(--index-mm);}
      .mf {z-index: var(--index-mf);}
      .fr {z-index: var(--index-fr);}

/* index  */
      .bg, .mb, .mm, .mf, .fr {
         position: absolute;
         top: 0;
         left: calc(100vw - 50%);     
         width: 100vw;
         height: 100vh;
      }
      .bg {
         min-width: 500vw !important;
      }


/* backgrounds */
      .div0 {
         background-color:  var(--color-div0);
      }

      .div1 {
         background-color:  var(--color-div1);
      }
      .div1:hover {
         z-index: 1000 !important;
         background-color: #15151547;
      }

      .div2 {
         background-color: var(--color-div2);
      }

      .div3 {
         background-color: var(--color-div3);
      }

      .div4 {
         background-color:  var(--color-div4);
      }

      .div5 {
         background-color:  var(--color-div5);} 

      .div0, .div1, .div2, .div3, .div4, .div5 {
         border-radius: 3%;
         align-self: center;
         box-shadow: var(--shadow-box);
         padding: 25px;
         width: 30vw;
         height: 50vh;
      }

      
      .bg {
         background-image: url(../assets/img/background/Group\ 1.png);
      }
      .mb {
         x:x;
      }
      .mm {
         x:x;
      }
      .mf {
         x:x;
      }
      .fr {
         x:x;
      }
      
      .untouchable {
         z-index: 110;
         position: relative;
         top: 300px;
         left: 200px;
         background-color: #71a4b8;
      }

/* ==========================
      content styling  
========================== */



/* fonts */
      h1 {
         font-family: var(--font-title);
         color: var(--color-title);
      }
      h2 {
         font-family: var(--font-hdr);
      }
      p {
         font-family: var(--font-body);
      }







